   <% @groups.each do |group| %>
<section class="d-flex justify-content-between">
   
   <div>   <img src="<%=group.icon%>" alt=""class="w-25"></div>
   <div>   <%=group.name%></div>
    <div>  <%= group.created_at.strftime('%d %b %Y at %l:%M%P')%></div>
      
      
</section>
<% end %>
 <%= link_to 'new group', new_group_path, class:'btn btn-primary' %>
  
  
  
  