<section class= "bg-grey homepage-section mx-auto">
<h3 class="cookie-cursive font-nova-bold fs text-center pt-5">welcome to group our transactions </h3>
<% if current_user %>
 <div class="text-center">
  <%= link_to 'login', user_path(current_user),class: "btn btn-primary font-nova-bold  py-2 px-4" %>
 </div>
  <% else %>
  <div class="d-flex flex-column align-items-center mh">
 
<div >
<%= link_to 'login', login_path, class: "btn btn-primary font-nova-bold  w-h"%>
</div>
<div>
  <%= link_to 'signup', signup_path,class: "btn  bg-grey px-4 py-2 font-nova-light font-weight-bold" %>
</div>
 </div>
<% end %>
</section>