<section class= "bg-white">

<% if current_user %>
  <%= link_to 'login', user_path(current_user),class: "btn btn-primary px-4 py-2" %>
  <% else %>
<%= link_to 'login', login_path, class: "btn btn-primary px-4 py-2"%>
<%= link_to 'signup', signup_path %>
<% end %>
</section>