<% if !current_user %>
<ul class="list-unstyled d-flex flex-row ml-auto justify-content-end">
<li class="mr-2">
<%= link_to 'sign in', login_path,class: "text-decoration-none text-white" %>
</li>
<li> <%= link_to 'sign up', signup_path,class: "text-decoration-none text-white" %></li>
</ul>
<% end %>