@font-face {
  font-family: 'FontsFree-Net-Proxima-Nova-Bold';
  src: url("/assets/FontsFree-Net-Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: 'proximanova-light';
  src: url("/assets/proximanova-light.otf");
}
// Groups
.w-75-lg {
  width: 800px;
}
// all views
.h-t-w {
  font-size: 18px;
}

.p-b {
  padding-bottom: 250px;
}
// FontsFree-Net-Proxima-Nova-Light
.font-nova-bold {
  font-family: 'FontsFree-Net-Proxima-Nova-Bold', arial, sans-serif;
}

.font-nova-light {
  font-family: 'proximanova-light', arial, sans-serif;
}

body {
  font-family: 'FontsFree-Net-Proxima-Nova-Bold', 'proximanova-light', arial, sans-serif;
  color: #3778c2;
}
//transactions

.w-t-s {
  width: 1112px;
}

.t-fs {
  font-size: 20px;
}

.t-fs-a {
  font-size: 15px;
}

.btn-transact {
  margin-left: 27%;
}

.bg-light-white {
  background-color: rgba(255, 255, 255, 0.945);
}

.light-white {
  color: rgb(202, 193, 193);
}
// transaction
.transaction-new-padding {
  width: 80%;
}

.fc-w {
  width: 100px;
}

.transaction-show-padding {
  padding: 50px 50px;
}
//users
.u-sf {
  // width: 310px;
  margin-left: 10px;
}
//  user new
.user-new-padding {
  padding: 100px 100px;
  width: 80%;
}

.user-new-btn-log {
  padding: 20px 100px;
}

.p-b-s {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 195px;
}

.p-b-s-d {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 220px;
}

.user-show-gradient {
  /* background-image:
     linear-gradient(
       40deg,
       #3190e3,
       #163150
     ); */
  background-size: 100%, 100%;
  height: 675px;
  width: 60%;
  padding: 20px 0 0 0;
}

a:active {
  padding: 10px 10px;
}

.a:visited,
.user-show a:link {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.user-show a:hover, {
  background-color: rgb(41, 143, 23);
  padding: 10px 10px;
}
// All groups
.p-b-g {
  padding: 0 0 290px 0;
}

//no group
.p-b-nogroup {
  padding-bottom: 345px;
}
//hompage

.homepage-section {
  padding: 100px 0 280px 0;
  width: 700px;
}

.bg-grey {
  background-color: rgb(238, 234, 234);
}

.fs {
  font-size: 50px;
}

.mh {
  margin: 200px 0 0 0;
  height: 200px;
  margin-bottom: -100px;
}

.w-h {
  width: 705px;
}

.cookie-cursive {
  font-family: 'Cookie', cursive;
}

.m-t-n {
  padding-bottom: 10px;
}

@media (max-width: 567px) {
  //
  body {
    width: 100%;
  }
  //hompage
  .w-h {
    width: 350px;
  }

  .u-sf {
    width: 310px;
  }

  .w-t-s {
    width: 250px;
  }
  //user
  .user-show {
    height: 490px;
  }

  .user-new-padding {
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    padding-bottom: 340px;
    width: 360px;
  }

  .transaction-new-padding {
    width: 360px;
    padding-bottom: 340px;
  }

  .user-show-gradient {
    width: 200px;
  }

  .homepage-section {
    margin-top: -25px;
    width: 360px;
    padding-bottom: 100%;
  }

  .fs {
    font-size: 25px;
  }

  .p-b {
    padding: 0 0 80% 0;
  }

  .p-b-nogroup {
    padding-bottom: 93%;
  }

  .p-b-g {
    padding: 0 0 85% 0;
  }

  .w-75-lg {
    width: 100%;
  }
}
