@font-face {
  font-family: 'FontsFree-Net-Proxima-Nova-Bold';
  src: url("/assets/FontsFree-Net-Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: 'proximanova-light';
  src: url("/assets/proximanova-light.otf");
}
// all views
.h-t-w {
  font-size: 18px;
}

.p-b {
  padding-bottom: 80px;
}
// FontsFree-Net-Proxima-Nova-Light
.font-nova-bold {
  font-family: 'FontsFree-Net-Proxima-Nova-Bold', arial, sans-serif;
}

.font-nova-light {
  font-family: 'proximanova-light', arial, sans-serif;
}

body {
  font-family: 'FontsFree-Net-Proxima-Nova-Bold', 'proximanova-light', arial, sans-serif;
  color: #3778c2;
}
//transactions

.w-t-s {
  width: 1112px;
}

.t-fs {
  font-size: 20px;
}

.t-fs-a {
  font-size: 15px;
}

.btn-transact {
  margin-left: 27%;
}

.bg-light-white {
  background-color: rgba(255, 255, 255, 0.945);
}

.light-white {
  color: rgb(202, 193, 193);
}

.transaction-new-padding {
  padding: 100px 10px;
}

.transaction-show-padding {
  padding: 50px 50px;
}

//  user new
.user-new-padding {
  padding: 100px 100px;
}

.user-new-btn-log {
  padding: 20px 100px;
}
// user show
.user-show {
  display: flex;
  flex-direction: column;
  height: 540px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.p-b-s {
  padding-bottom: 90px;
}

.user-show-gradient {
  background:
    linear-gradient(
      40deg,
      #3190e3,
      #163150
    );
  height: 650px;
  width: 600px;
  padding: 20px 0 10px 0;
  margin-top: -100px;
}

a:active {
  background-color: rgb(41, 143, 23);
  padding: 10px 10px;
}

.a:visited,
.user-show a:link {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.user-show a:hover, {
  background-color: rgb(41, 143, 23);
  padding: 10px 10px;
}
//hompage
.homepage-section {
  padding-bottom: 190px;
  width: 900px;
}

.bg-grey {
  background-color: rgb(238, 234, 234);
}

.fs {
  font-size: 50px;
}

.mh {
  margin: 200px 0 0 0;
  height: 200px;
  margin-bottom: -100px;
}

.w-h {
  width: 905px;
}

.cookie-cursive {
  font-family: 'Cookie', cursive;
}

.m-t-n {
  padding-bottom: 10px;
}

@media (max-width: 567px) {
  //hompage
  .w-h {
    width: 400px;
  }

  .w-t-s {
    width: 250px;
  }
  //user
  .user-show {
    height: 490px;
  }

  .user-new-padding {
    padding: 100px 0 90px 0;
  }

  .user-show-gradient {
    width: 200px;
  }

  .homepage-section {
    padding-bottom: 100px;
    width: 250px;
  }

  .fs {
    font-size: 25px;
  }
}
